html, body {
    margin: 5px;
    padding: 5px;
  }
  p{
    margin: 0;
  }
  .cv{
    display: flex;
    grid-area: cv;
    flex-direction: row;
  }
  canvas {
    display: block;
  }
  button {
    margin: 5px;
  }
  .toolbox{
    display: flex;
    flex-direction: row;
    grid-area: tb;
    margin-bottom: 5px;
  }
  .toolbox-part{
    display: flex;
    flex-direction: column;
    margin: 5px;
  }
  .main-container{
    display: grid;
    grid-template: 
      "tb" 180px
      "cv"  auto;
  }
  .matrix-input{
    width:35px;
  }

  body.dragging, body.dragging * {
    cursor: move !important;
  }
  
  .dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
  }
  